* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .flight-search-container {
     border: 2px solid red;
} */


.search-input {
    border: 2px solid blue; 
    margin-top: 6.25em;
    
}

.search-results {
    border: 2px solid blue;
 padding: 6.25em;
    margin-top: 1.5em;

}

.weather-results {
    padding: 6.25em;
    margin-top: 5em;
    border: 2px solid blue;
}

.weather-item {
    border: 1px solid red;
    margin: 1em;
}
