* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* HERO START */
.hero {
  height: 400px;
  width: auto;
  margin-bottom: 25px;
  background-image: url("../imgs/hero.png");
  background-size: cover;
  background-position: center;
}

.hero-text {
  position: relative;
  margin-left: 7em;
  padding-bottom: 9em;
  font-size: clamp(16px, 5vw, 4em);
}
/* HERO END */

/* FLIGHT CONTAINER STYLES */
.search-input {
  border: 2px solid blue;
  margin-top: 2em;
  padding: 0.5em;
}

.search-results {
  border: 2px solid blue;
  padding: 6.25em;
  margin-top: 1.5em;
}
/* FLIGHT CONTAINTER STYLES END */

/* WEATHER CONTAINER STYLES */
.weather-results {
  padding: 6.25em;
  margin-top: 1.5em;
  border: 2px solid blue;
}

.weather-item {
  border: 1px solid red;
  margin: 0.5em;
}
/* WEATHER CONTAINER STYLES END */

/* TITLE FOR EACH SECTION START*/
.center {
  padding-top: 10px;
}
/* TITLE FOR EACH SECTION END */

#swap-btn {
  padding-left: 35px;
}

/* CHOOSE US STYLES */

/* CHOOSE US STYLES */

/* REVIEW STYLES */


/* REVIEW STYLES END */